{% extends 'base.html' %} {% block title %}
<title>{{title}}</title>
{% endblock title %}

<div id="page-top"></div>
{% block link %} href="/" {% endblock link %} {% block navElements %}

<div class="collapse navbar-collapse" id="navbarResponsive">

    <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#Description" style="color:white;">Description</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#achievements" style="color:white;">achievements</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#events" style="color:white;">events</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#members" style="color:white;">MEMBERS</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about" style="color:white;">ABOUT</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact" style="color:white;">CONTACT</a>
        </li>
        {% if verified %}
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/clubs/{{clubName}}/edit" style="color:white;">Edit</a>
        </li>
        {% endif %}
    </ul>

</div>

{% endblock navElements %} {% block body %}



<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->

        <img class="masthead-avatar mb-5" src={{imageUrl}} alt="" />
        <!-- Masthead Heading-->

        <h1 class="masthead-heading text-uppercase mb-0" style="font-family: 'Kaushan Script', cursive;">{{title}}</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        {% if member %} {% if notexist %}
        <a href="/clubs/{{clubName}}/apply" class="btn btn-success btn-lg" style="font-family: 'Ubuntu', sans-serif;">JOIN</a> {% endif %} {% endif %}
        <!-- <p class="masthead-subheading font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p> -->
    </div>
</header>

<!-- Description Section-->
<section class="page-section portfolio" id="Description">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0" style="font-family: 'Kaushan Script', cursive;">Description</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row">
            <!-- Portfolio Item 1-->
            <div class="col-md-12 col-lg-12 mb-5">
                <div class="portfolio-item mx-auto" style="font-family: 'Ubuntu', sans-serif;">{{info}}</div>
            </div>
        </div>
    </div>
</section>
<!-- Achievements Section-->
<section class="page-section portfolio" id="achievements">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0" style="font-family: 'Kaushan Script', cursive;">Achievements</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row">
            <!-- Portfolio Item 1-->
            <div class="col-md-12 col-lg-12 mb-5">
                <div class="portfolio-item mx-auto" style="font-family: 'Ubuntu', sans-serif;">{{achievements}}</div>
            </div>
        </div>
    </div>
</section>
<!-- Event Section-->
<section class="page-section portfolio" id="events">
    <div class="container">
        <!-- Event Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0" style="font-family: 'Kaushan Script', cursive;">Events</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Event Grid Items-->
        <div class="row">
            <div class="col-md-12 col-lg-12 mb-5">
                <div class="portfolio-item mx-auto container" style="font-family: 'Ubuntu', sans-serif;">

                    {{events}}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- members Section-->
<section class="page-section portfolio" id="members">
    <div class="container">
        <!-- members Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0" style="font-family: 'Kaushan Script', cursive;">MEMBERS</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        {% if verified %}
        <div class="container text-center">
            <div>
                <h1 style="font-family: 'Fondamento', cursive;">New Recruits</h1>
            </div>
            {% if not newRecruits %}
            <div class="divider-custom">
                <div>NO NEW APPLICANTS</div>
            </div>

            {% else %}
            <table width="100%" style="font-family: 'Frank Ruhl Libre', serif;">
                <col style="width:20%">
                <col style="width:20%">
                <col style="width:20%">
                <col style="width:20%">
                <col style="width:20%">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Action
                    </th>

                </tr>

                {%for row in newRecruits%}
                <tr>
                    <td>

                        <a href="/clubs/{{clubName}}/{{row.1}}">
                            {{row.0}}
                        </a>
                    </td>
                    <td>
                        <a href="mailto:{{row.1}}">
                            {{row.1}}
                        </a>
                    </td>
                    {% if verified %}
                    <td>
                        <a href="/clubs/{{clubName}}/approve/{{row.1}}" class="btn btn-success btn-sm ">Approve</a>
                        <a href="/clubs/{{clubName}}/reject/{{row.1}}" class="btn btn-danger btn-sm ">Reject</a> {% if row.2 == 'U' %}
                        <a href="/clubs/{{clubName}}/schedule/{{row.1}}" class="btn btn-warning btn-sm ">Schedule</a> {% else %}
                        <a href="/clubs/{{clubName}}/meeting/{{row.1}}" class="btn btn-warning btn-sm ">Details</a> {% endif %}


                    </td>
                    {% endif %}


                </tr>
                {%endfor%}


            </table>
            {% endif %}







        </div>
        {% endif %}


        <div class="container text-center">
            <div>
                <h1 style="font-family: 'Fondamento', cursive;">Current Members</h1>
            </div>
            <table width="100%" style="font-family: 'Frank Ruhl Libre', serif;">
                <col style="width:20%">
                <col style="width:20%">
                <col style="width:20%">
                <col style="width:20%">
                <col style="width:20%">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    {% if verified %}
                    <th>
                        Action
                    </th>
                    {% endif %}

                </tr>
                {%for row in currentMembers%}
                <tr>
                    <td>
                        <a href="/clubs/{{clubName}}/{{row.1}}">
                            {{row.0}}
                        </a>

                    </td>
                    <td>
                        <a href="mailto:{{row.1}}">
                            {{row.1}}
                        </a>
                    </td>
                    {% if verified %}
                    <td>
                        <a href="/clubs/{{clubName}}/remove/{{row.1}}" class="btn btn-danger btn-sm ">REMOVE</a>
                    </td>
                    {% endif %}


                </tr>
                {%endfor%}
            </table>
            </table>

        </div>
</section>

</div>
</section>







{% endblock %}